rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /staff/{staffId} {
      allow read, write: if request.auth != null;
    }

    match /attendance/{attendanceId} {
      allow read, write: if request.auth != null;
    }
  }
}
